

.cart-button {
    /* background-color: var(--main-color); Replace with a color, e.g., #3498db */
    /* color: grey; */
    border: 1px solid #ddd;
    padding: 10px 20px;
    margin-left: 15px;
    border-radius: 5px;
    font-size: 14px;
}

.cart-button:hover {
    background-color: #2c81b7; 
    cursor: pointer;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: #333;
    color: white;
}

.logo {
    font-size: 1.5rem;
    color: white;
}


.navbar {
    display: flex;
    list-style: none;
    gap: 1.5rem;
}

.navbar li a {
    color: white;
    text-decoration: none;
    padding: 0.5rem;
}
.search-container {
    display: flex;
    align-items: center;
    gap: 5px;
}

/* Search input */
.search-input {
    padding: 0.4rem 1rem;
    border-radius: 5px;
    border: 1px solid #ddd;
}


.search-btn {
    padding: 0.4rem 1rem;
    background-color: lightyellow;
    color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
}


/* Language selector container */
.language-selector {
    margin-left: 1rem;
}

.language-selector select {
    padding: 0.4rem;
    border-radius: 5px;
    border: 1px solid #ddd;
    background-color: #333;
    color: white;
    cursor: pointer;
}



